<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="#">
      <h4>Logistics Management System</h4>
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <div class="d-inline-block" ngbDropdown #itemDrop="ngbDropdown">
                    <button
                        type="button"
                        class="btn btn-dark me-2"
                        id="itemDropdown"
                        ngbDropdownAnchor
                        (focus)="itemDrop.open()"
                        >Items
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" ngbDropdownMenu aria-labelledby="itemDropdown">
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/add-item">Add Item</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/list-items">Item List</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="d-inline-block" ngbDropdown #allowanceDrop="ngbDropdown">
                    <button
                        type="button"
                        class="btn btn-dark me-2"
                        id="allowanceDropdown"
                        ngbDropdownAnchor
                        (focus)="allowanceDrop.open()"
                        >Allowances
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" ngbDropdownMenu aria-labelledby="allowanceDropdown">
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/add-allowance">Add Allowance</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/list-allowances">Allowance List</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="d-inline-block" ngbDropdown #inventoryDrop="ngbDropdown">
                    <button
                        type="button"
                        class="btn btn-dark me-2"
                        id="allowanceDropdown"
                        ngbDropdownAnchor
                        (focus)="inventoryDrop.open()"
                        >Inventory
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" ngbDropdownMenu aria-labelledby="inventoryDropdown">
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/add-location">Create Location</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/order-stock">Re-order Stock</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/schedule-inventory">Schedule Inventory Count</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/post-inventory">Post Inventory Counts</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/offload">Offload Excess Stock</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="d-inline-block" ngbDropdown #ordersDrop="ngbDropdown">
                    <button
                        type="button"
                        class="btn btn-dark me-2"
                        id="orderDropdown"
                        ngbDropdownAnchor
                        (focus)="ordersDrop.open()"
                        >Orders
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" ngbDropdownMenu aria-labelledby="allowanceDropdown">
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/new-order">New Order</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/order-status">Update Order Status</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/orders">Active Orders</a></li>
                        <li><a class="dropdown-item" ngbDropdownItem routerLink="/order-history">Order History</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
