<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <app-inventory-value></app-inventory-value>
        </div>
        <div class="col-3">
            <app-issue-effectiveness></app-issue-effectiveness>
        </div>
        <div class="col-5">
            <app-stock-levels></app-stock-levels>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <app-open-orders></app-open-orders>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <app-order-volume></app-order-volume> 
        </div>
    </div>
</div>
