<div class="card border-warning">
    <div class="card-header bg-warning"><b>Stock Levels</b></div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <span>In Stock:</span>
            </div>
            <div class="col text-end">
                <b>12,347 / 14,281</b>
            </div>
            <div class="col text-end">
                (86.5%)
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>Under Level:</span> 
            </div>
            <div class="col text-end">
                <b>4,661 / 14,281</b>
            </div>
            <div class="col text-end">
                (32.6%)
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>Over Level:</span> 
            </div>
            <div class="col text-end">
                <b>203 / 14,281</b>
            </div>
            <div class="col text-end">
                (1.4%)
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>Out of Stock:</span> 
            </div>
            <div class="col text-end">
                <b>1,215 / 14,281</b>
            </div>
            <div class="col text-end">
                (8.5%)
            </div>
        </div>
    </div>
</div>
