<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Add New Item
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" #itemForm="ngForm">
                <div class="form-group mt-1">
                    <label for="itemName">Item ID</label>
                    <input type="text" class="form-control" id="itemId" placeholder="" [(ngModel)]="item.id" name="id" required>
                </div>
                <div class="form-group mt-1">
                    <label for="itemName">Item Name</label>
                    <input type="text" class="form-control" id="itemName" placeholder="" [(ngModel)]="item.name" name="name" required>
                </div>
                <div class="form-group mt-1">
                    <label for="itemPrice">Unit Price</label>
                    <input type="number" class="form-control" id="itemPrice" placeholder="" [(ngModel)]="item.unitPrice" name="unitPrice" required>
                </div>
                <button type="submit" class="btn btn-primary my-2">Add Item</button>
            </form>
        </div>
    </div>
</div>

